name: PoC-CI

on:
  workflow_dispatch: {}
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

jobs:
  publish:
    name: Publish (PoC)
    if: >-
      (github.event_name == 'workflow_dispatch' || github.event_name == 'push') &&
      startsWith(github.ref, 'refs/tags/v') &&
      endsWith(github.actor, '-stripe')
    runs-on: ubuntu-24.04
    steps:
      - name: Show actor/ref
        run: |
          echo "actor=${GITHUB_ACTOR}"
          echo "ref=${GITHUB_REF}"
